{% extends 'base.html' %}
{% load static %}


<head>
    {% block linkfile %}
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <script src="https://kit.fontawesome.com/09f47cf394.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mydrive.css' %}" />
    <script type="text/javascript" src="{% static 'js/mydrive.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_card_details.css' %}" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />




    {% endblock %}


    {% block extrahead %}
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
    {% endblock %}

</head>

<body class="w3-theme-l5">
    {% block content %}

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 iiitd">
                <div class="content">
                    <h2>IIITDRIVE</h2>
                    <h2>IIITDRIVE</h2>
                </div>
            </a>
            <a href="{% url 'mydrive' %}" style="text-decoration:none" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-theme-d4" title="My Drive">
                <h2 style="color: black;">My Drive</h2>
            </a>
            <a href="{% url 'starred' %}" style="text-decoration:none" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                title="Starred"><h2>Starred</h2></a>
            <a href="{% url 'trash' %}" style="text-decoration:none" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Trash">
                <h2>Trash</h2></a>
            <a href="{% url 'profilepage' %}" style="text-decoration:none" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Profile">
                <h2>Profile</h2></a>
                
            {% include 'profile_dropdown.html' %}
            
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    </div>


    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row" style="padding-top: 50px;">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                
                {% include 'profile_card.html' %}

                <br>

                <!-- Upload bottom -->
                <!-- <p><a target="_self" href="{% url 'upload' %}"><i class="fas fa-cloud-upload-alt"
                                style="font-size: 70px; margin-right: 10px;"></i></a></p> -->

                <button type="button" class="btn btn-primary bottomright icon animate__animated animate__bounceInDown animate__slower" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" style="font-size: 30px; margin-right: 10px; margin-bottom: 10px;">
                    <i class="fa fa-cloud-upload icon" aria-hidden="true" style="font-size: 30px;"></i><b> Upload</b>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Upload File Here!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Model body -->
                            <div class="modal-body">


                                <div class="row">
                                    <div class="container">

                                        <div class="p-5 bg-white shadow" style="border: 2px solid black;">
                                            <img src="https://bootstrapious.com/i/snippets/sn-file-upload/img.png" alt=""
                                                width="150" class="d-block mx-auto mb-4 rounded-pill">
    
                                            <!-- Default bootstrap file upload-->
<!--     
                                            <h6 class="text-center mb-4 text-muted">
                                                You can use default Bootstrap file upload
                                            </h6> -->

                                            


                                            <div class="card gedf-card">
                                                <div class="card-header">
                                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
                                                                Browse file</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="card-body">
                                                    
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered border-dark" id="emptbl">
                                                            <tr>
                                                                <td id="col0"><input type="file" class="form-control" value="" placeholder="" onchange="validateSize(this)"></td>
                                                            </tr>
                                                            
                                                        </table>
                                                    </div>
                                            
                                                </div>
                                            </div>

                                            <div style="padding-top: 10px;">
                                                <button type="button" class="btn btn-primary" onclick="addRows('emptbl', 'col')">Add Row</button>
                                                <button type="button" class="btn btn-default" onclick="deleteRows('emptbl')">Delete Row</button>
                                            </div>




                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!-- Model body end -->

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="clears(event);">Clear</button>
                                <button type="button" class="btn btn-primary">Upload</button>
                            </div>

                        </div>
                    </div>
                </div>




                <!-- Accordion -->
                
                <br>

                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small" style="border-radius: 10px;">
                    <div class="w3-container" style="padding-top: 5px;">
                        <h4>Usage</h4>
                        <progress value="40" max="100"></progress>
                        <p>40.5 MB out of 500 MB (40%) (<a href="#" class="upgrade">Upgrade</a>)</p>
                    </div>
                </div>
                <br>

                <!-- Alert Box -->
                

                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <h3>ALL FILES</h3>
                    </div>
                </div>
                

                <div class="w3-row-padding">
                    <div class="alert alert-info" style="padding-top: 20px;">
                        Don't forget to display the console to see the uploaded file !
                    </div>
                </div>

                

                

                <!-- End Middle Column -->
            </div>

            <!-- Right Column -->

            <!-- Right Column -->
            <!-- <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <h4>Usage</h4>
                        <progress value="40" max="100"></progress>
                        <p>40.5 MB out of 500 MB (40%) (<a href="#" class="upgrade">Upgrade</a>)</p>
                    </div>
                </div>
                <br>

                
                <br>

                
            </div> -->
            

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>

    {% endblock %}

</body>