{% load static %}

<div class="w3-card w3-round w3-white" style="border-radius: 10px;">
    <div class="w3-container">

        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            <img src="{% static "images/biju1.jpg" %}" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header text-center">
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="#" class="btn btn-sm btn-default float-right message">Message</a>
            </div>
        </div>

        <!-- <h4 class="w3-center" style="padding-top: 20px;">My Profile</h4> -->
        <!-- <p class="w3-center"><img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle"
                style="height:106px;width:106px" alt="Avatar"></p> -->
        <!-- <hr> -->
        <!-- <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p> -->
    </div>

    <div class="card-body pt-0 pt-md-4">
        <div class="row">
            <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                        <span class="heading">22</span>
                        <span class="description">Likes</span>
                    </div>
                    <div>
                        <span class="heading">10</span>
                        <span class="description">Photos</span>
                    </div>
                    <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-center" style="padding-top: 5px;">
            <a href="{% url 'social' %}" style="text-decoration: none;"><button class="edit_profile"> Social Profile
                </button></a>
        </div>

        <div class="text-center" style="padding-top: 10px;">
            <h3>
                Bijendar Prasad<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>CSAM | 2023
            </div>
            <img src="{% static "images/iiitd4.png" %}" class="center_img" alt="IIITD" width="300px">
            
            <hr class="my-4">
            <p>I'm a full-stack software engineer with a passion for learning and creating. 
                I have experience with a variety of languages<span id="dots">...</span>
            <span id="more">and technologies, and always looking for ways to improve my skills.
                I'm currently focusing on web development using JavaScript, Django, React, and Node.js.</span></p>

            <button class="learn-more" onclick="view_more()">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">Read More</span>
            </button>
            
        </div>
    </div>

    <div class="w3-center" style="padding-top: 10px;">
        <button type="button" class="btn btn-outline-primary btn-floating">
            <i class="fa fa-github fa-lg"></i>
        </button>
        <button type="button" class="btn btn-outline-primary btn-floating">
            <i class="fa fa-linkedin fa-lg"></i>
        </button>
        <button type="button" class="btn btn-outline-primary btn-floating">
            <i class="fa fa-twitter fa-lg"></i>
        </button>
        <button type="button" class="btn btn-outline-primary btn-floating">
            <i class="fa fa-facebook-f fa-lg"></i>
        </button>
    </div>

    <div class="w3-center" style="padding-top: 20px;"></div>

</div>